body {
    background: lightblue;
}

.logindiv1,
.logindiv2 {
    background: white;
    padding: 10px;
    float: none;
    border-radius: 15px;
}

#player1,
#player2 {
    display: inline-block;
}

#output {
    background: white;
    border-radius: 10px;
    border-top: 10px solid #AA4465;
    padding: 10px;
    float: none;
    text-align: left;
}